.main {
  font-family: "Roboto", sans-serif;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 500;
  background: linear-gradient(to right, #007bff, #9ed3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.effective-date {
  font-size: 1rem;
  font-weight: 800;
  color: #222222;
  margin: 2.5rem auto;
}

.effective-date span {
  font-weight: 500;
  color: #000;
}
.main-underline {
  height: 1.5px;
  background-color: #72727268;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}
.underline {
  height: 1.5px;
  background-color: #72727268;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.privacy-container {
  max-width: 900px;
  margin: 0.1rem auto;
  padding: 0 1rem;
  color: #343434;
}

.privacy-section {
  margin: 2rem;
}

.privacy-section h2 {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.privacy-section h3 {
  margin-top: 10px;
  font-size: 1rem;
  color: #424242;
}

.privacy-section p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

.privacy-text {
  white-space: pre-line;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-top: 10px;
}

.text-highlight {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 800;
  color: #222222;
}

.text-highlight span {
  font-weight: 400;
}

.privacy-list {
  padding: 0.6rem 4rem;
}

.privacy-list li {
  margin-bottom: 10px;
}

.email-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  .main {
    margin-top: 80px;
    padding: 0 1rem;
  }
  .privacy-container {
    max-width: 700px;
    margin: 0.1rem auto;
    padding: 0 1.25rem;
  }

  .header {
    padding: 0;
    margin: 1.5rem 0rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .privacy-section h2 {
    font-size: 3rem;
  }

  .privacy-text {
    font-size: 0.9rem;
  }
  .main-underline {
    height: 1px;
    width: 100%;
    max-width: 300px;
  }
  .underline {
    height: 1px;
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.75rem;
  }

  .privacy-section h2 {
    font-size: 1.3rem;
  }

  .privacy-text {
    font-size: 0.9rem;
  }

  .privacy-container {
    padding: 0 1rem;
  }

  .main {
    padding: 0 1rem;
  }

  .effective-date {
    font-size: 0.8rem;
    font-weight: 800;
    color: #222222;
    margin: 1.5rem auto;
  }

  .effective-date span {
    font-weight: 500;
    color: #000;
  }

  .underline {
    width: 100%;
    max-width: 300px;
  }

  .privacy-list {
    padding: 0.6rem 2rem;
  }

  .privacy-list li {
    font-size: small;
    margin-bottom: 5px;
  }

  .privacy-section p {
    font-size: 0.9rem;
  }
}
